@media (min-width: 320px) and (max-width: 374px){
    .videoPlayer{
        position: absolute;
        top: 14%;
        left: 13%;
        width: 74%;
        height: 22%;
    
    }
    .icons{
        position: relative;
        top: 121%;
        left: 77%;
        min-width: 20%;
        max-width: 20%;
    
        min-height: 29%;
        max-height: 29%;
    
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons2{
        position: relative;
        top: 92%;
        left: 54%;
        min-width: 20%;
        max-width: 20%;
    
        min-height: 29%;
        max-height: 29%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons3{
        position: relative;
        top: 63%;
        left: 3%;
        min-width: 20%;
        max-width: 20%;
    
        min-height: 29%;
        max-height: 29%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons4{
        position: relative;
        top: 34%;
        left: 27%;
        min-width: 20%;
        max-width: 20%;
        min-height: 29%;
        max-height: 29%;
        border: 0.13rem solid #89b617;
        border-radius: 50%;
        color: #89b617;
    }
    
    
    .videoBox{
        min-width: 62vw;
        max-width: 62vw;
        min-height: 20vh;
        max-height: 20vh;
       
        border-radius: 0.5rem;
    
        
    
    }

    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 98.5%;
        height : 100%;
    }
     
    
    
.posAvatar{
    
    position: relative;
    top: -6%; 
    left: 0%;
}

    .coverHolder{

        min-width: 83vw !important;
        max-width : 83vw !important;
        min-height : 25vh !important;
        max-height: 25vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    }
    
    .avatarArea{
        min-width: 100%;
        min-height: 4.5vh;
  
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 16vw;
        min-width: 16vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 84vw;
        min-width: 84vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 16%;

        background-color: white;
    }
}


@media (min-width: 375px) and (max-width: 389px){
    .videoPlayer{
        position: absolute;
        top: 16%;
        left: 13%;
        width: 74%;
        height: 22%;
    
    }
    .icons{
        position: relative;
        top: 121%;
        left: 77%;
        min-width: 20%;
        max-width: 20%;
    
        min-height: 31%;
        max-height: 31%;
    
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons2{
        position: relative;
        top: 92%;
        left: 54%;
        min-width: 20%;
        max-width: 20%;
    
        min-height: 31%;
        max-height: 31%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons3{
        position: relative;
        top: 60%;
        left: 3%;
        min-width: 20%;
        max-width: 20%;
    
        min-height: 31%;
        max-height: 31%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons4{
        position: relative;
        top: 30%;
        left: 27%;
        min-width: 20%;
        max-width: 20%;
        min-height: 31%;
        max-height: 31%;
        border: 0.13rem solid #89b617;
        border-radius: 50%;
        color: #89b617;
    }

    .videoBox{
        min-width: 62vw;
        max-width: 62vw;
        min-height: 20vh;
        max-height: 20vh;
 
        border-radius: 0.5rem;
    
    
    }

    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 99.5%;
        height : 100%;
    }
     
    
    
.posAvatar{
    position: relative;
    top: -6%; 
    left: 0%;
}
    .coverHolder{

        min-width: 83vw !important;
        max-width : 83vw !important;
        min-height : 25vh !important;
        max-height: 25vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    }
    

    .avatarArea{
        min-width: 100%;
        min-height: 5.5vh;
     
    }
    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 16vw;
        min-width: 16vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 84vw;
        min-width: 84vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 16%;

        background-color: white;
    }
}


@media (min-width: 390px) and (max-width: 411px){
    .videoPlayer{
        position: absolute;
        top: 13%;
        left: 11%;
        width: 78%;
        height: 21%;
    }
    .icons{
        position: relative;
        top: 121%;
        left: 77%;
        min-width: 20%;
        max-width: 20%;
    
        min-height: 31%;
        max-height: 31%;
    
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons2{
        position: relative;
        top: 92%;
        left: 54%;
        min-width: 20%;
        max-width: 20%;
    
        min-height: 31%;
        max-height: 31%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons3{
        position: relative;
        top: 60%;
        left: 3%;
        min-width: 20%;
        max-width: 20%;
    
        min-height: 31%;
        max-height: 31%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons4{
        position: relative;
        top: 30%;
        left: 27%;
        min-width: 20%;
        max-width: 20%;
        min-height: 31%;
        max-height: 31%;
        border: 0.13rem solid #89b617;
        border-radius: 50%;
        color: #89b617;
    }

    
    .videoBox{
        min-width: 64vw;
        max-width: 64vw;
        min-height: 20vh;
        max-height: 20vh;
    
        border-radius: 0.5rem;
    
  
    
    }
    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 99.5%;
        height : 100%;
    }

.posAvatar{
    position: relative;
    top: -4.5%; 
    left: 0%;
}
    .coverHolder{

        min-width: 83vw !important;
        max-width : 83vw !important;
        min-height : 25vh !important;
        max-height: 25vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    }
    
    .avatarArea{
        min-width: 100%;
        min-height: 4.5vh;
     
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 16vw;
        min-width: 16vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 84vw;
        min-width: 84vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 16%;

        background-color: white;
    }
}



@media (min-width: 412px) and (max-width: 539px){
    .videoPlayer{
        position: absolute;
        top: 12%;
        left: 11%;
        width: 78%;
        height: 21%;
    }
    .icons{
        position: relative;
        top: 122%;
        left: 77%;
        min-width: 20%;
        max-width: 20%;
    
        min-height: 31%;
        max-height: 31%;
    
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons2{
        position: relative;
        top: 92%;
        left: 54%;
        min-width: 20%;
        max-width: 20%;
    
        min-height: 31%;
        max-height: 31%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons3{
        position: relative;
        top: 60%;
        left: 3%;
        min-width: 20%;
        max-width: 20%;
    
        min-height: 31%;
        max-height: 31%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons4{
        position: relative;
        top: 30%;
        left: 27%;
        min-width: 20%;
        max-width: 20%;
        min-height: 31%;
        max-height: 31%;
        border: 0.13rem solid #89b617;
        border-radius: 50%;
        color: #89b617;
    }


    .videoBox{
        min-width: 64vw;
        max-width: 64vw;
        min-height: 20vh;
        max-height: 20vh;
      
        border-radius: 0.5rem;
    
    
    }

    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 99.5%;
        height : 100%;
    }
    
.posAvatar{
    position: relative;
    top: -4.5%; 
    left: 0%;
}

    .coverHolder{

        min-width: 83vw !important;
        max-width : 83vw !important;
        min-height : 26vh !important;
        max-height: 26vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    }

    .adjustheight{
        padding: 1rem;
        height: 100vh !important;
        display: flex !important;
       flex-direction: column !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        align-items: center !important;
        justify-content: center !important;
    }
    
    
    .avatarArea{
        min-width: 100%;
        min-height: 4.5vh;
 
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 16vw;
        min-width: 16vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 84vw;
        min-width: 84vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 16%;

        background-color: white;
    }
}



@media (min-width: 540px) and (max-width: 767px){
    .videoPlayer{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 30%;
}

    .icons{
        position: relative;
        top: 112%;
        left: 77%;
        min-width: 14%;
        max-width: 14%;
    
        min-height: 27%;
        max-height: 27%;
    
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons2{
        position: relative;
        top: 85%;
        left: 54%;
        min-width: 14%;
        max-width: 14%;
    
        min-height: 27%;
        max-height: 27%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons3{
        position: relative;
        top: 58%;
        left: 8%;
        min-width: 14%;
        max-width: 14%;
    
        min-height: 27%;
        max-height: 27%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons4{
        position: relative;
        top: 31%;
        left: 31%;
        min-width: 14%;
        max-width: 14%;
        min-height: 27%;
        max-height: 27%;
        border: 0.13rem solid #89b617;
        border-radius: 50%;
        color: #89b617;
    }


    .videoBox{
        min-width: 69vw;
        max-width: 69vw;
        min-height: 28vh;
        max-height: 28vh;
   
        border-radius: 0.5rem;
    
   
    
    }


    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 99%;
        height : 100%;
    }
    .posAvatar{
        position: relative;
        top: -5%; 
        left: 0%;
    }

    .coverHolder{

        min-width: 88vw !important;
        max-width : 88vw !important;
        min-height : 30vh !important;
        max-height: 30vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    }
    
    .avatarArea{
        min-width: 100%;
        min-height: 5.5vh;
      
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 12vw;
        min-width: 12vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 88vw;
        min-width: 88vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 12%;

        background-color: white;
    }
}



@media (min-width: 768px) and (max-width: 819px){
    .videoPlayer{
        position: absolute;
        top: 9.7%;
        left: 10%;
        width: 80%;
        height: 30%;
    }
    
    
    .icons{
        position: relative;
        top: 112%;
        left: 77%;
        min-width: 14%;
        max-width: 14%;
    
        min-height: 27%;
        max-height: 27%;
    
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons2{
        position: relative;
        top: 85%;
        left: 54%;
        min-width: 14%;
        max-width: 14%;
    
        min-height: 27%;
        max-height: 27%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons3{
        position: relative;
        top: 58%;
        left: 8%;
        min-width: 14%;
        max-width: 14%;
    
        min-height: 27%;
        max-height: 27%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons4{
        position: relative;
        top: 31%;
        left: 31%;
        min-width: 14%;
        max-width: 14%;
        min-height: 27%;
        max-height: 27%;
        border: 0.13rem solid #89b617;
        border-radius: 50%;
        color: #89b617;
    }


    .videoBox{
        min-width: 69vw;
        max-width: 69vw;
        min-height: 28vh;
        max-height: 28vh;

        border-radius: 0.5rem;
   
    
    }

    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 100%;
        height : 100%;
    }
    .posAvatar{

        position: relative;
        top: -4%; 
        left: 0%;
    }
    .coverHolder{

        min-width: 87vw !important;
        max-width : 87vw !important;
        min-height : 29vh !important;
        max-height: 29vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }

    .adjustheight{
        padding: 1rem;
        height: 100vh !important;
        display: flex !important;
       flex-direction: column !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        align-items: center !important;
        justify-content: center !important;
    }
    

    .avatarArea{
        min-width: 75%;
        min-height: 5vh;
       
    }
    

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 12vw;
        min-width: 12vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 88vw;
        min-width: 88vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 12%;

        background-color: white;
    }
}



@media (min-width: 820px) and (max-width: 911px){
    .videoPlayer{
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 28%;
    }

    .icons{
        position: relative;
        top: 108%;
        left: 77%;
        min-width: 14%;
        max-width: 14%;
    
        min-height: 23%;
        max-height: 23%;
    
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons2{
        position: relative;
        top: 85%;
        left: 54%;
        min-width: 14%;
        max-width: 14%;
    
        min-height: 23%;
        max-height: 23%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons3{
        position: relative;
        top: 62%;
        left: 8%;
        min-width: 14%;
        max-width: 14%;
    
        min-height: 23%;
        max-height: 23%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons4{
        position: relative;
        top: 39%;
        left: 31%;
        min-width: 14%;
        max-width: 14%;
        min-height: 23%;
        max-height: 23%;
        border: 0.13rem solid #89b617;
        border-radius: 50%;
        color: #89b617;
    }


    .videoBox{
        min-width: 69vw;
        max-width: 69vw;
        min-height: 28vh;
        max-height: 28vh;
   
        border-radius: 0.5rem;
 
    
    }

    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 100%;
        height : 100%;
    }

    .posAvatar{

        position: relative;
        top: -4%; 
        left: 0%;
    }

    .coverHolder{

        min-width: 87vw !important;
        max-width : 87vw !important;
        min-height : 29vh !important;
        max-height: 29vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }

    .adjustheight{
        padding: 1rem;
        height: 100vh !important;
        display: flex !important;
       flex-direction: column !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        align-items: center !important;
        justify-content: center !important;
    }
    
    
    .avatarArea{
        min-width: 75%;
        min-height: 5vh;
 
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 13vw;
        min-width: 13vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 87vw;
        min-width: 87vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 13%;

        background-color: white;
    }
}



@media (min-width: 912px) and (max-width: 1023px){
    .videoPlayer{
        position: absolute;
        top: 8%;
        left: 10%;
        width: 80%;
        height: 28.5%;
    }

    .icons{
        position: relative;
        top: 108%;
        left: 77%;
        min-width: 14%;
        max-width: 14%;
    
        min-height: 23%;
        max-height: 23%;
    
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons2{
        position: relative;
        top: 85%;
        left: 54%;
        min-width: 14%;
        max-width: 14%;
    
        min-height: 23%;
        max-height: 23%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons3{
        position: relative;
        top: 62%;
        left: 8%;
        min-width: 14%;
        max-width: 14%;
    
        min-height: 23%;
        max-height: 23%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons4{
        position: relative;
        top: 39%;
        left: 31%;
        min-width: 14%;
        max-width: 14%;
        min-height: 23%;
        max-height: 23%;
        border: 0.13rem solid #89b617;
        border-radius: 50%;
        color: #89b617;
    }


    .videoBox{
        min-width: 69vw;
        max-width: 69vw;
        min-height: 28vh;
        max-height: 28vh;
      
        border-radius: 0.5rem;
    
    }

    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 100%;
        height : 100%;
    }

    .posAvatar{
      
        position: relative;
        top: -3%; 
        left: 0%;
    }
    .coverHolder{

        min-width: 87vw !important;
        max-width : 87vw !important;
        min-height : 26vh !important;
        max-height: 26vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        
    
    }
    .adjustheight{
        padding: 1rem;
        height: 100vh !important;
        display: flex !important;
       flex-direction: column !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        align-items: center !important;
        justify-content: center !important;
    }
    
    
    .avatarArea{
        min-width: 60%;
        min-height: 3.8vh;
      
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 13vw;
        min-width: 13vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 87vw;
        min-width: 87vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 13%;

        background-color: white;
    }
}



@media (min-width: 1024px) and (max-width: 1267px){
    .videoPlayer{
        position: absolute;
        top: 19%;
        left: 13%;
        width: 74%;
        height: 50.5%;
    }

    .icons{
        position: relative;
        top: 108%;
        left: 77%;
        min-width: 10%;
        max-width: 10%;
    
        min-height: 23%;
        max-height: 23%;
    
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons2{
        position: relative;
        top: 85%;
        left: 56%;
        min-width: 10%;
        max-width: 10%;
    
        min-height: 23%;
        max-height: 23%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons3{
        position: relative;
        top: 62%;
        left: 12%;
        min-width: 10%;
        max-width: 10%;
    
        min-height: 23%;
        max-height: 23%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons4{
        position: relative;
        top: 39%;
        left: 34%;
        min-width: 10%;
        max-width: 10%;
        min-height: 23%;
        max-height: 23%;
        border: 0.13rem solid #89b617;
        border-radius: 50%;
        color: #89b617;
    }

    .videoBox{
        min-width: 69vw;
        max-width: 69vw;
        min-height: 50vh;
        max-height: 50vh;
      
        border-radius: 0.5rem;
    
    
    }


    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 98%;
        height : 100%;
    }

    .posAvatar{

        position: relative;
        top: -7%; 
        left: 0%;
    }

    .coverHolder{

        min-width: 95vw !important;
        max-width : 95vw !important;
        min-height : 40vh !important;
        max-height: 40vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .avatarArea{
        min-width: 95%;
        min-height: 5.2vh;
     
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 5.5vw;
        min-width: 5.5vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 94.5vw;
        min-width: 94.5vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 5.5%;

        background-color: white;
    }
}



@media (min-width: 1268px) and (max-width: 1365px){
    .videoPlayer{
        position: absolute;
        top: 17%;
        left: 13%;
        width: 74%;
        height: 56.5%;
    }

    .icons{
        position: relative;
        top: 108%;
        left: 77%;
        min-width: 7%;
        max-width: 7%;
    
        min-height: 17%;
        max-height: 17%;
    
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons2{
        position: relative;
        top: 91%;
        left: 56%;
        min-width: 7%;
        max-width: 7%;
    
        min-height: 17%;
        max-height: 17%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons3{
        position: relative;
        top: 74%;
        left: 14%;
        min-width: 7%;
        max-width: 7%;
    
        min-height: 17%;
        max-height: 17%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons4{
        position: relative;
        top: 57%;
        left: 34%;
        min-width: 7%;
        max-width: 7%;
        min-height: 17%;
        max-height: 17%;
        border: 0.13rem solid #89b617;
        border-radius: 50%;
        color: #89b617;
    }


    .videoBox{
        min-width: 69vw;
        max-width: 69vw;
        min-height: 55vh;
        max-height: 55vh;
      
        border-radius: 0.5rem;
    
    
    }

    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 98%;
        height : 100%;
    }
    .posAvatar{

        position: relative;
        top: -6%; 
        left: 0%;
    }
    
    .coverHolder{

        min-width: 95vw !important;
        max-width : 95vw !important;
        min-height : 40vh !important;
        max-height: 40vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
        overflow-y: auto;
        overflow-x: auto;
    }

    .avatarArea{
        min-width: 95%;
        min-height: 4.8vh;

    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 4.5vw;
        min-width: 4.5vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 95.5vw;
        min-width: 95.5vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 4.5%;

        background-color: white;
    }
}



@media (min-width: 1366px) and (max-width: 1919px){
    .videoPlayer{
        position: absolute;
        top: 17%;
        left: 13%;
        width: 74%;
        height: 56.5%;
    }

    .icons{
        position: relative;
        top: 108%;
        left: 77%;
        min-width: 7%;
        max-width: 7%;
    
        min-height: 17%;
        max-height: 17%;
    
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons2{
        position: relative;
        top: 91%;
        left: 56%;
        min-width: 7%;
        max-width: 7%;
    
        min-height: 17%;
        max-height: 17%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons3{
        position: relative;
        top: 74%;
        left: 14%;
        min-width: 7%;
        max-width: 7%;
    
        min-height: 17%;
        max-height: 17%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons4{
        position: relative;
        top: 57%;
        left: 34%;
        min-width: 7%;
        max-width: 7%;
        min-height: 17%;
        max-height: 17%;
        border: 0.13rem solid #89b617;
        border-radius: 50%;
        color: #89b617;
    }

    .videoBox{
        min-width: 69vw;
        max-width: 69vw;
        min-height: 55vh;
        max-height: 55vh;
    
        border-radius: 0.5rem;
    
      
    }


    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 98%;
        height : 100%;
    }
    .posAvatar{

        position: relative;
        top: -6%; 
        left: 0%;
    }
    .coverHolder{

        min-width: 95vw !important;
        max-width : 95vw !important;
        min-height : 40vh !important;
        max-height: 40vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: auto;
        overflow-x: auto;
    
    }
    
    .avatarArea{
        min-width: 95%;
        min-height: 5.2vh;
     
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 4.5vw;
        min-width: 4.5vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 95.5vw;
        min-width: 95.5vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 4.5%;

        background-color: rgb(255, 255, 255);
    }
}




@media (min-width: 1920px) and (max-width: 3840px){
    .videoPlayer{
        position: absolute;
        top: 11%;
        left: 13%;
        width: 74%;
        height: 55.3%;
    }
    .icons{
        position: relative;
        top: 108%;
        left: 77%;
        min-width: 7%;
        max-width: 7%;
    
        min-height: 17%;
        max-height: 17%;
    
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons2{
        position: relative;
        top: 91%;
        left: 56%;
        min-width: 7%;
        max-width: 7%;
    
        min-height: 17%;
        max-height: 17%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons3{
        position: relative;
        top: 74%;
        left: 14%;
        min-width: 7%;
        max-width: 7%;
    
        min-height: 17%;
        max-height: 17%;
    
        border: 0.13rem solid #89b617;
        border-radius: 50%;
    
        color: #89b617;
    }
    
    .icons4{
        position: relative;
        top: 57%;
        left: 34%;
        min-width: 7%;
        max-width: 7%;
        min-height: 17%;
        max-height: 17%;
        border: 0.13rem solid #89b617;
        border-radius: 50%;
        color: #89b617;
    }


    .videoBox{
        min-width: 69vw;
        max-width: 69vw;
        min-height: 55vh;
        max-height: 55vh;

        border-radius: 0.5rem;
    
    }


    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 98%;
        height : 100%;
    }
    .posAvatar{
        
        position: relative;
        top: -4%; 
        left: 0%;
    }

    .coverHolder{

        min-width: 95vw !important;
        max-width : 95vw !important;
        min-height : 40vh !important;
        max-height: 40vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    }
    
    .avatarArea{
        min-width: 55%;
        min-height: 6.2vh;
       
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 5.5vw;
        min-width: 5.5vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 94.5vw;
        min-width: 94.5vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 5.5%;

        background-color: white;
    }
}

.desLoad{
    color: #c0ff1d;
    margin-top: 15rem;
    margin-left: 3rem;
}



  
  /* Override Bootstrap tooltip arrow styles */
  .tooltip-arrow {
    background-color : #c0ff1d !important; /* Change arrow border color */
  }
  
  /* Override Bootstrap tooltip inner content styles */
  .tooltip-inner {
    background-color: #c0ff1d;
    color: #000000a3;
    padding: 10px; /* Change inner content padding */
    font-weight: bold;
    border-radius: 0.2rem;
    border:  0.15rem solid #000000a3;
  }

  .tooltip-arrow{
    display : none !important;
}

.linkBtn{
    text-decoration: none;
    color: #000000a3;
}

.linkBtn:hover{
    text-decoration: none;
    color: #000000a3;
}


.btn-primary {
    color: #000000a3 !important;
    background-color: #96ca12 !important;
    border-color: #c0ff1d !important;
}

.btn-primary:hover {
    color: #000000a3;
    background-color: #96ca12 !important;
    border-color: #4f6616 !important;
}


.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .15rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cardBd{
    background-color: #c0ff1d;
    color: #000000a3;
}


.linkBtn2{
    text-decoration: none;
    color: #415806;
}

.linkBtn2:hover{
    text-decoration: none;
    color: #415806;
}

#profImage{
    display: none !important;
    visibility: none !important;
}

#coverImage{
    display: none !important;
    visibility: none !important;
}


input{
    background-color: #c0ff1d !important;
    border-color: #000000a3 !important;
}
select{
    background-color: #c0ff1d !important;
    border-color: #000000a3 !important;
}

.eye{
    position: relative !important;
    top: 50%;
    left: 79%;
    z-index: 200;

}

.adjustheight{
    padding: 1rem;
    height: 100vh !important;
    display: flex;
   flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    align-items: center;

}

/* Hide scrollbar for Chrome, Safari and Opera */
.adjustheight::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .adjustheight {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


  .profilePageHeight{
    padding-top: 0rem !important;
    padding-right: 0rem;
    padding-left: 0rem;
    padding-bottom: 1rem;
    max-width: 93.5vw;
    height: 100vh !important;
    display: flex;
   flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .profilePageHeight::-webkit-scrollbar {
    display: none;
  }


  .coverHolder::-webkit-scrollbar {
    display: none;
  }





.welcomeTxt{
    color: #4f6616;
    font-size: 2rem;
}

.bordcol{
    border: 0.1rem solid #96ca12;
}

.bordTop{
    border-top: 0.2rem dotted #96ca12;
}

.linkdesGreen{
    color:#4f6616;
    text-decoration: none;
}

.linkdesGreen:hover{
    color:#313f0e;
    text-decoration: none;
}

.bgbordertrans{
    background-color: transparent !important;
    border : none !important;
}

.bgbordermodal{
    background-color: #c0ff1d !important;
    border: 0.14rem solid #4f6616;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #5e791a !important;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #5e791a !important;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.videoaddtextarea{
    background-color: #c0ff1d;
    height: 20vh;
    color: black;
    resize: none;
    border: 1px solid #5e791a !important;
}

.videoaddtextarea:focus{
    background-color: #c0ff1d;
    height: 20vh;
    color: black;
    resize: none;
    border: 1px solid #5e791a !important;
}

.badgeHovcurs{
    cursor: pointer;
}

.smollUsername{
    font-size: 0.9rem;
 
}

.smollTitle{
    font-size: 0.7rem;
}

.loveemo{
    position: absolute;
    top: 4%;
    left: 83%;
    background-color: #c0ff1d;
    min-width: 13%;
    max-width: 13%;
    min-height: 12%;
    max-height: 16%;
    border-radius: 0.4rem;

}


.loveemo2{
    position: absolute;
    top: 19%;
    left: 83%;
    background-color: #c0ff1d;
    min-width: 13%;
    max-width: 13%;
    min-height: 12%;
    max-height: 16%;
    border-radius: 0.4rem;

}


.loveemo3{
    position: absolute;
    top: 34%;
    left: 83%;
    background-color: #c0ff1d;
    min-width: 13%;
    max-width: 13%;
    min-height: 12%;
    max-height: 16%;
    border-radius: 0.4rem;

}


.loveemo4{
    position: absolute;
    top: 42%;
    left: 41%;
    background-color: transparent;
    min-width: 16%;
    max-width: 16%;
    min-height: 14%;
    max-height: 14%;
    border-radius: 0.4rem;
    color: white;
    border: 0.2rem solid white;
}

.fontcol{
    color: #415806;
}

.searchbtn{
    background-color: #c0ff1d;
    border: 0.09rem solid #415806;
    color: #415806;
}

.searchtotal{
    margin-top: 3rem;
    width: 100% !important;
}

.totalbox{
    width: 85vw;

}

.bgsearch{
    background-color: white !important;
}


