@media (min-width: 320px) and (max-width: 374px){
    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 98.5%;
        height : 100%;
    }
     
    
    
.posAvatar{
    
    position: relative;
    top: -6%; 
    left: 0%;
}

    .coverHolder{

        min-width: 83vw !important;
        max-width : 83vw !important;
        min-height : 25vh !important;
        max-height: 25vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    }
    
    .avatarArea{
        min-width: 100%;
        min-height: 4.5vh;
  
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 16vw;
        min-width: 16vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 84vw;
        min-width: 84vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 16%;

        background-color: white;
    }
}


@media (min-width: 375px) and (max-width: 389px){

    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 99.5%;
        height : 100%;
    }
     
    
    
.posAvatar{
    position: relative;
    top: -6%; 
    left: 0%;
}
    .coverHolder{

        min-width: 83vw !important;
        max-width : 83vw !important;
        min-height : 25vh !important;
        max-height: 25vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    }
    

    .avatarArea{
        min-width: 100%;
        min-height: 5.5vh;
     
    }
    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 16vw;
        min-width: 16vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 84vw;
        min-width: 84vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 16%;

        background-color: white;
    }
}


@media (min-width: 390px) and (max-width: 411px){
    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 99.5%;
        height : 100%;
    }

.posAvatar{
    position: relative;
    top: -4.5%; 
    left: 0%;
}
    .coverHolder{

        min-width: 83vw !important;
        max-width : 83vw !important;
        min-height : 25vh !important;
        max-height: 25vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    }
    
    .avatarArea{
        min-width: 100%;
        min-height: 4.5vh;
     
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 16vw;
        min-width: 16vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 84vw;
        min-width: 84vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 16%;

        background-color: white;
    }
}



@media (min-width: 412px) and (max-width: 539px){
    
    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 99.5%;
        height : 100%;
    }
    
.posAvatar{
    position: relative;
    top: -4.5%; 
    left: 0%;
}

    .coverHolder{

        min-width: 83vw !important;
        max-width : 83vw !important;
        min-height : 26vh !important;
        max-height: 26vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    }

    .adjustheight{
        padding: 1rem;
        height: 100vh !important;
        display: flex !important;
       flex-direction: column !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        align-items: center !important;
        justify-content: center !important;
    }
    
    
    .avatarArea{
        min-width: 100%;
        min-height: 4.5vh;
 
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 16vw;
        min-width: 16vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 84vw;
        min-width: 84vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 16%;

        background-color: white;
    }
}



@media (min-width: 540px) and (max-width: 767px){
    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 99%;
        height : 100%;
    }
    .posAvatar{
        position: relative;
        top: -5%; 
        left: 0%;
    }

    .coverHolder{

        min-width: 88vw !important;
        max-width : 88vw !important;
        min-height : 30vh !important;
        max-height: 30vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    }
    
    .avatarArea{
        min-width: 100%;
        min-height: 5.5vh;
      
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 12vw;
        min-width: 12vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 88vw;
        min-width: 88vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 12%;

        background-color: white;
    }
}



@media (min-width: 768px) and (max-width: 819px){
    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 100%;
        height : 100%;
    }
    .posAvatar{

        position: relative;
        top: -4%; 
        left: 0%;
    }
    .coverHolder{

        min-width: 87vw !important;
        max-width : 87vw !important;
        min-height : 29vh !important;
        max-height: 29vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }

    .adjustheight{
        padding: 1rem;
        height: 100vh !important;
        display: flex !important;
       flex-direction: column !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        align-items: center !important;
        justify-content: center !important;
    }
    

    .avatarArea{
        min-width: 75%;
        min-height: 5vh;
       
    }
    

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 12vw;
        min-width: 12vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 88vw;
        min-width: 88vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 12%;

        background-color: white;
    }
}



@media (min-width: 820px) and (max-width: 911px){
    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 100%;
        height : 100%;
    }

    .posAvatar{

        position: relative;
        top: -4%; 
        left: 0%;
    }

    .coverHolder{

        min-width: 87vw !important;
        max-width : 87vw !important;
        min-height : 29vh !important;
        max-height: 29vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }

    .adjustheight{
        padding: 1rem;
        height: 100vh !important;
        display: flex !important;
       flex-direction: column !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        align-items: center !important;
        justify-content: center !important;
    }
    
    
    .avatarArea{
        min-width: 75%;
        min-height: 5vh;
 
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 13vw;
        min-width: 13vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 87vw;
        min-width: 87vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 13%;

        background-color: white;
    }
}



@media (min-width: 912px) and (max-width: 1023px){
    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 100%;
        height : 100%;
    }

    .posAvatar{
      
        position: relative;
        top: -3%; 
        left: 0%;
    }
    .coverHolder{

        min-width: 87vw !important;
        max-width : 87vw !important;
        min-height : 26vh !important;
        max-height: 26vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        
    
    }
    .adjustheight{
        padding: 1rem;
        height: 100vh !important;
        display: flex !important;
       flex-direction: column !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        align-items: center !important;
        justify-content: center !important;
    }
    
    
    .avatarArea{
        min-width: 60%;
        min-height: 3.8vh;
      
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 13vw;
        min-width: 13vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 87vw;
        min-width: 87vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 13%;

        background-color: white;
    }
}



@media (min-width: 1024px) and (max-width: 1267px){
    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 98%;
        height : 100%;
    }

    .posAvatar{

        position: relative;
        top: -7%; 
        left: 0%;
    }

    .coverHolder{

        min-width: 95vw !important;
        max-width : 95vw !important;
        min-height : 40vh !important;
        max-height: 40vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
    }
    
    .avatarArea{
        min-width: 95%;
        min-height: 5.2vh;
     
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 5.5vw;
        min-width: 5.5vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 94.5vw;
        min-width: 94.5vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 5.5%;

        background-color: white;
    }
}



@media (min-width: 1268px) and (max-width: 1365px){
    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 98%;
        height : 100%;
    }
    .posAvatar{

        position: relative;
        top: -6%; 
        left: 0%;
    }
    
    .coverHolder{

        min-width: 95vw !important;
        max-width : 95vw !important;
        min-height : 40vh !important;
        max-height: 40vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
        overflow-y: auto;
        overflow-x: auto;
    }

    .avatarArea{
        min-width: 95%;
        min-height: 4.8vh;

    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 4.5vw;
        min-width: 4.5vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 95.5vw;
        min-width: 95.5vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 4.5%;

        background-color: white;
    }
}



@media (min-width: 1366px) and (max-width: 1919px){
    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 98%;
        height : 100%;
    }
    .posAvatar{

        position: relative;
        top: -6%; 
        left: 0%;
    }
    .coverHolder{

        min-width: 95vw !important;
        max-width : 95vw !important;
        min-height : 40vh !important;
        max-height: 40vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: auto;
        overflow-x: auto;
    
    }
    
    .avatarArea{
        min-width: 95%;
        min-height: 5.2vh;
     
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 4.5vw;
        min-width: 4.5vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 95.5vw;
        min-width: 95.5vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 4.5%;

        background-color: rgb(255, 255, 255);
    }
}




@media (min-width: 1920px) and (max-width: 3840px){
    .coverImage{
        display: block;
        object-fit: cover !important;
        width: 98%;
        height : 100%;
    }
    .posAvatar{
        
        position: relative;
        top: -4%; 
        left: 0%;
    }

    .coverHolder{

        min-width: 95vw !important;
        max-width : 95vw !important;
        min-height : 40vh !important;
        max-height: 40vh !important;
        -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    }
    
    .avatarArea{
        min-width: 55%;
        min-height: 6.2vh;
       
    }

    .mainNav{
        display: flex !important;
        justify-content: start !important;
        align-items: center;
        padding-top: 1rem;
        flex-direction: column;
        max-width : 5.5vw;
        min-width: 5.5vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 0%;

        background-color: #c0ff1d;
        color: #000000a3;
    
    }

    .pages{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        max-width : 94.5vw;
        min-width: 94.5vw;
        min-height: 100vh;
        overflow-y: auto;
        word-wrap: break-word;
        position: absolute;
        top: 0%;
        left: 5.5%;

        background-color: white;
    }
}

.desLoad{
    color: #c0ff1d;
    margin-top: 15rem;
    margin-left: 3rem;
}



  
  /* Override Bootstrap tooltip arrow styles */
  .tooltip-arrow {
    background-color : #c0ff1d !important; /* Change arrow border color */
  }
  
  /* Override Bootstrap tooltip inner content styles */
  .tooltip-inner {
    background-color: #c0ff1d;
    color: #000000a3;
    padding: 10px; /* Change inner content padding */
    font-weight: bold;
    border-radius: 0.2rem;
    border:  0.15rem solid #000000a3;
  }

  .tooltip-arrow{
    display : none !important;
}

.linkBtn{
    text-decoration: none;
    color: #000000a3;
}

.linkBtn:hover{
    text-decoration: none;
    color: #000000a3;
}


.btn-primary {
    color: #000000a3 !important;
    background-color: #96ca12 !important;
    border-color: #c0ff1d !important;
}

.btn-primary:hover {
    color: #000000a3;
    background-color: #96ca12 !important;
    border-color: #4f6616 !important;
}


.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .15rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cardBd{
    background-color: #c0ff1d;
    color: #000000a3;
}


.linkBtn2{
    text-decoration: none;
    color: #415806;
}

.linkBtn2:hover{
    text-decoration: none;
    color: #415806;
}

#profImage{
    display: none !important;
    visibility: none !important;
}

#coverImage{
    display: none !important;
    visibility: none !important;
}


input{
    background-color: #c0ff1d !important;
    border-color: #000000a3 !important;
}
select{
    background-color: #c0ff1d !important;
    border-color: #000000a3 !important;
}

.eye{
    position: relative !important;
    top: 50%;
    left: 79%;
    z-index: 200;

}

.adjustheight{
    padding: 1rem;
    height: 100vh !important;
    display: flex;
   flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    align-items: center;

}

/* Hide scrollbar for Chrome, Safari and Opera */
.adjustheight::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .adjustheight {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


  .profilePageHeight{
    padding-top: 0rem !important;
    padding-right: 0rem;
    padding-left: 0rem;
    padding-bottom: 1rem;
    max-width: 93.5vw;
    height: 100vh !important;
    display: flex;
   flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .profilePageHeight::-webkit-scrollbar {
    display: none;
  }


  .coverHolder::-webkit-scrollbar {
    display: none;
  }





.welcomeTxt{
    color: #4f6616;
    font-size: 2rem;
}

.bordcol{
    border: 0.1rem solid #96ca12;
}

.bordTop{
    border-top: 0.2rem dotted #96ca12;
}

.linkdesGreen{
    color:#4f6616;
    text-decoration: none;
}

.linkdesGreen:hover{
    color:#313f0e;
    text-decoration: none;
}